h6 {
  color: white;
  size: 500%;
}

.sidenav {
  /* border: 1px solid red; */
  background-color: #3b5998;
}

.data {
  margin: 80px 0 0 50px;
}

a {
  text-decoration: none;
  color: white;
}

.sidenav1 {
  /* border: 1px solid orange; */
  background-color: rgba(114, 100, 82, 0.151);
}

.buttons {
  flex: auto;
}

.checkbox{
  margin-right: auto;
}

.depart{
  display: flex;
  justify-content: flex-start;
  margin-right: 100px;
}

.table th{
  color: white;
}

.tableValue{
  text-align: center;
  font-size: 200%;
}

.arrival{
  display: flex;
  justify-content: flex-start
}

